asgiref
certifi
charset-normalizer
colorama
dj-database-url
Django
djangorestframework
djangorestframework_simplejwt
filelock
fsspec
gunicorn
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
psycopg2-binary
PyJWT
python-dotenv
PyYAML
regex
requests
safetensors
setuptools
sqlparse
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
